<h1>{{title}}</h1>


<form>
    <div class="head">
        <input type='submit' formmethod='get' formaction='/newNote' class='button' id="create_note"
               value='Create new Note'>
        <input type='submit' formmethod='get' formaction='{{theOtherSiteThemeWise}}' class='button' id="color_switch"
               value='Style Switcher'>
    </div>

    <div class="body">
        <input type='submit' formmethod='get' formaction='/byFinishDate' name='orderBy' class='button' id="finish_date"
               value='By finish Date'>
        <input type='submit' formmethod='get' formaction='/byCreatedDate' name='orderBy' class='button' id="create_date"
               value='By created Date'>
        <input type='submit' formmethod='get' formaction='/byImportance' name='orderBy' class='button'
               id="sort_importance"
               value='By Importance'>
        <input type='submit' formmethod='get' formaction='/byShowFinished' name='orderBy' class='button'
               id="show_finished"
               value='Show Finished'>
    </div>
</form>


{{#unless showfinished}}
    {{#each task}}
        <ul id="task_list">
            <li>
                <div id="task_box">
                    <p id="task_due">{{until}}</p>
                    <p id="task_title">{{title}}</p>
                    <p id="task_importance">{{#copy importance}}&#9733{{/copy}}</p>
                    <label id="checkbox_label"><input type="checkbox" name="finished" value=""{{finished}}></label>
                    <textarea id="task_description" readonly>{{description}}</textarea>
                    <form id="edit_button">
                        <input type='submit' formmethod='get' formaction='/editNote/{{_id}}' class='button' id="edit"
                               value='Edit'>
                    </form>
                </div>
            </li>
        </ul>
    {{/each}}
{{else}}
    <div id="empty_list">
        <p>No notes found.</p>
        <p>If you create a new note it will appear here.</p>
    </div>
{{/unless}}
