<h2>{{title}}</h2>
<form method="post" action="{{create}}">
    {{#with task}}
        <div class="form_new_note">
            <label id="title_label" for="title">Title</label>
            <input name="title" type="text" id="title" value="{{title}}" required>
            <label id="description_label" for="description">Description</label>
            <textarea name="description" id="description">{{description}}</textarea>
            <label id="importance_label" for="importance">Importance</label>
            <input name="importance" type="range" id="importance" min="1" max="5" value="{{importance}}">
            <label id="until_label" for="until">Due to</label>
            <input name="until" type="date" id="until" value="{{until}}">
        </div>

        <label id="note_finished">
            <input type="checkbox" name="finishedState" value="" {{finished}}>
            Done
        </label>

        <input type="hidden" name="created" value="{{created}}">
    {{/with}}
    <div>
        <input type="submit" class="button" id="save" value="{{saveTask}}">
        <a href="/" id="cancel">Cancel</a>
    </div>

</form>